#the-counties {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-top: var(--primary-color) solid 2px;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}
#county-graph {
    padding: 10px;
    text-align: center;
    img {
        height: 400px;
    }
}

#county-graph-idealized {
    padding: 10px;
    text-align: center;
    img {
        height: 400px;
    }
}
