#the-counties {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid red 2px;
}
#county-graph {
    img {
        width: 400px;
    }
}

#county-graph-idealized {
    img {
        width: 400px;
    }
}
