body {
    background-color: #120e08;
    background-image: url("../images/CozyWithInstruments.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
}

.crucible-header {
    text-align: center;
    height: 500px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

h2 {
    color: rgba(255, 255, 255, 0.75);
}

.spacer {
    height: 265px;
    background-image: url('../images/zyCrucible.svg');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}


ul {
    text-align: left;;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

#key-points {
    width: 500px;
    margin: auto;
    text-align: left;
}
.description {
    text-align: center;
    background-color: rgba(75, 0, 0, 0.75);
    font-size: 20px;
    padding: 10px;
}
.footer-container {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    .footer {
        width: 50%;
        margin-left: 25%;
        .footer-logo {
            width: 100px;
        }
        .links {
            display: flex;
            justify-content: space-between;
        }
    }
}

.wizard-title {
    height: 100px;
    margin-bottom: -11px;
    background-image: url("../images/WizardOfArcWordLogoCozy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.cozy-title {
    height: 100px;
    margin-top: -11px;
    background-image: url("../images/CozyCrucibleTitle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }
    .spacer {
        height: 91px;
        background-size: 25%;
    }
    .crucible-header {
        height: 400px;
    }
    #key-points {
        width: 400px;
    }
    .description {
        width: 400px;
    }
}