.the-spells-headline {
  font-weight: bold;
  font-size: 20px;
}

.the-spells {
  a {
    padding: 10px;
  }
}
.spell {
    display: flex;
    justify-content: start;
    margin: 10px;
    border-bottom: solid var(--primary-color) 1px;
    @media(prefers-color-scheme: dark){
      border-color: var(--primary-color-dark-mode);
    }
}

.spell-name {
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
}

.spell-description {
    font-size: 18px;
    padding: 10px;
    color: var(--secondary-color);
    @media(prefers-color-scheme: dark){
      color: var(--secondary-color-dark-mode);
    }
}

