body {
    background-color: #05000b;
    color: #d699ff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/grimoireBG.png");
    background-position: center;
}

.header {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

#grimoire-title {
    height: 170px;
    background-image: url("../images/GrimoireTitle.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 67% 50%;
}

.note {
    font-size: 12px;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    margin:auto;
}

.spell-entry {
    display: flex;
    justify-content: start;
    margin: 10px;
    border-bottom: solid #3f006a 1px;
}

.spell-name {
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
    border-bottom: solid #3f006a 1px;
    border-right: solid #3f006a 1px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #f3e0ff;
    padding: 10px;
}

.spell-desc {
    font-size: 18px;
    padding: 10px;
    color: #d699ff;
}

#spell-list {
    border: solid #3f006a 1px;
    border-radius: 15px;
    padding: 10px;
}

.light-home {
    background-image: url("../images/woa_logo_only_light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 200px;
}
.content {
    color: rgb(255, 250, 255);
}