:root {
    --primary-color: #3f006a;
    --secondary-color: #0f000a;
    --primary-color-dark-mode: #c977ff;
    --secondary-color-dark-mode: #b892be;
    --bg-color: #efe0fa;
    --bg-color-dark-mode: #140020;
}

body {
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    color: var(--primary-color);
    h1 {
        color: var(--primary-color);
    }
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark-mode);
        color: var(--secondary-color-dark-mode);
        h1 {
            color: var(--secondary-color-dark-mode);
        }
    }
}

@media (max-width: 600px ){
    body {
        background-position-x: 50%;
    }
}

.overlay {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    left:0;
    z-index: -2;
    background-color: rgba(255,255,255,0.5);
}

h1 {
    text-align: center;
}

a { 
    text-decoration: none;
    font-weight: bold; 
    padding: 10px;
    color: var(--primary-color);
    @media (prefers-color-scheme: dark) {
      color: var(--primary-color-dark-mode);
    }
}

.header-image {
    width: 50%;
    display: block;
    margin: auto;
    @media (prefers-color-scheme: dark) {
      color: var(--primary-color-dark-mode);
    }
}

.responsive-full-image {
    width: 50%;
    display: block;
    margin: auto;
}

.music-link-thumbnail {
    width: 45px;
}

#woa_logo {
    height: 600px;
    background-image: url("../images/woa_logo_only.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    @media (prefers-color-scheme: dark) {
      background-image: url("../images/woa_logo_only_light.svg");
    }
}

#woa_words {
    margin-top: calc((50% * -0.19) + 10px);
    background-image: url("../images/WizardOfArcWordLogo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    @media (prefers-color-scheme: dark) {
        background-image: url("../images/WizardOfArcWordLogoDarkMode.svg");
    }
}

#band-members {
    text-align: center;
    .band-table {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.name-cell {
    font-weight: bold;
    color: #333;
}

.members-label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.footer-container {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    .footer {
        width: 50%;
        margin-left: 25%;
        .footer-logo {
            width: 100px;
            height: 75px;
            margin: auto;
            background-image: url("../images/woa_logo_only.svg");
            @media (prefers-color-scheme: dark) {
              background-image: url("../images/woa_logo_only_light.svg");
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
        }
    }
}

#music-links {
    text-align: center;
}

#band-members {
    width: 50%;
    margin: auto;
}

#about-woa {
    text-align: center;
    padding: 20px;
    .about-woa-text {
        margin: auto;
        width: 50%;
    }
    .about-woa-text-list {
        text-align: left;
        width: 30%;
        margin: auto;
        border: solid var(--primary-color) 1px;
        @media (prefers-color-scheme: dark){
          border-color: var(--primary-color-dark-mode);
        }
    }
}

#the-transformation {
    text-align: center;
    padding: 20px;
}

.contact-method {
    text-align: center;
    margin: auto;
    ul, ol {
        list-style-type: none;
        li {
            padding-bottom: 10px;
        }
    }
}

.centered {
    margin-top: 55px;
    margin-bottom: 0;
    text-align: center;
}

.band-img {
    height: 200px;
}

@media only screen and (max-width: 768px) {
    .header-image {
        width: 100%;
    }

    #woa_logo {
      height: 200px;
      margin: auto;
      background-position-x: 50%;
      background-size: cover;
    }

    #band-members {
        width: 100%;
        .band-table {
            flex-direction: column;
            width: 100%;
            margin: auto;
            .band-row {
                margin: auto;
                text-align: center;
                .band-img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .responsive-full-image {
        width: 100%;
        display: block;
        margin: auto;
    }

    .footer-container {
        .footer {
            width: 100%;
            margin: 0;
            .links {
                display: block;
                a {
                    display: block;
                    border-bottom: solid var(--primary-color) 1px;
                    @media(primary-color-dark-mode: dark){

                      border-color: var(--primary-color-dark-mode);
                    }
                }
                
            }
        }
    }
}
.post-header {
    display: flex;
    justify-content: space-between;
}

.post-title {
  border-bottom: solid rgba(0,0,0,0.1) 2px;
  font-size: 30px;
  color: var(--primary-color);
  @media (prefers-color-scheme: dark){
    color: var(--primary-color-dark-mode);
  }
}

.blog-intro {
  width: 50%;
  margin: auto;
}

.blog-post {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
    @media (prefers-color-scheme: dark){
      background-color: var(--bg-color-dark-mode);
      box-shadow: 0 0 10px var(--secondary-color-dark-mode);
    }
}
.post-date {
    font-size: 12px;
    color: var(--secondary-color);
    @media (prefers-color-scheme: dark){
      color: var(--secondary-color-dark-mode);
    }
}

.friend-link {
    text-decoration: none;
}

.friend-name {
    font-weight: bold;
    font-size: 30px;
}   

.friend-header {
    display: flex;
    align-items: start;
}

.friend-row {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--primary-color);
    border-radius: 8px;
    padding: 20px;

    @media(prefers-color-scheme: dark){
      background-color: var(--bg-color-dark-mode);
      box-shadow: 0 0 10px var(--primary-color-dark-mode);
      
    }
}

.friend-desc {
    padding: 10px;
    font-size: 15px;
    color: var(--secondary-color);
    text-align: left;
    @media(prefers-color-scheme: dark){
      color: var(--secondary-color-dark-mode);
    }
}

.friend-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

