body {
    background-color: #f0f0f0;
    color: #3f006a;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}

a { 
    text-decoration: none;
    font-weight: bold; 
    color: #3f006a;
    padding: 10px;
}

.header-image {
    width: 50%;
    display: block;
    margin: auto;

}

#woa_words {
    margin-top: calc(50% * -0.19);
}

#band-members {
    text-align: center;
    .band-table {
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

.name-cell {
    font-weight: bold;
    color: #333;
}

.members-label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.footer-container {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    .footer {
        width: 50%;
        margin-left: 25%;
        .footer-logo {
            width: 100px;
        }
        .links {
            display: flex;
            justify-content: space-between;
        }
    }
}

#music-links {
    text-align: center;
}

#band-members {
    width: 50%;
    margin: auto;
}

#about-woa {
    text-align: center;
}

#the-transformation {
    text-align: center;
    padding: 20px;
}

.t00 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}

.t01 { 
    font-weight: bold;
    color: #ff0000;
    font-size: 24px;
}
.t02 {
    font-weight: bold;
    color: #df1f00;
    font-size: 23px;
}
.t03 {
    font-weight: bold;
    color: #bf3f00;
    font-size: 22px;
}
.t04 {
    font-weight: bold;
    color: #bf3f00;
    font-size: 21px;
}
.t05 {
    font-weight: bold;
    color: #9f5f00;
    font-size: 20px;
}
.t06 {
    font-weight: bold;
    color: #7f7f00;
    font-size: 19px;
}
.t07 {
    font-weight: bold;
    color: #5f9f00;
    font-size: 18px;
}
.t08 {
    font-weight: bold;
    color: #3fbf00;
    font-size: 17px;
}
.t09 {
    font-weight: bold;
    color: #3fbf00;
    font-size: 16px;
}
.t10 {
    font-weight: bold;
    color: #1fdf00;
    font-size: 15px;
}
.t11 {
    font-weight: bold;
    color: #00ff00;
    font-size: 14px;
}
.t12 {
    font-weight: bold;
    color: #00df1f;
    font-size: 15px;
}
.t13 {
    font-weight: bold;
    color: #00bf3f;
    font-size: 16px;
}
.t14 {
    font-weight: bold;
    color: #00bf3f;
    font-size: 17px;
}
.t15 {
    font-weight: bold;
    color: #009f5f;
    font-size: 18px;
}
.t16 {
    font-weight: bold;
    color: #007f7f;
    font-size: 19px;
}
.t17 {
    font-weight: bold;
    color: #005f9f;
    font-size: 20px;
}
.t18 {
    font-weight: bold;
    color: #003fbf;
    font-size: 21px;
}
.t19 {
    font-weight: bold;
    color: #003fbf;
    font-size: 22px;
}
.t20 {
    font-weight: bold;
    color: #001fdf;
    font-size: 23px;
}
.t21 {
    font-weight: bold;
    color: #0000ff;
    font-size: 24px;
}
.t22 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}

.contact-method {
    text-align: center;
    margin: auto;
}

.centered {
    margin-top: 55px;
    margin-bottom: 0;
    text-align: center;
}

.band-img {
    height: 200px;
}

@media only screen and (max-width: 768px) {
    .header-image {
        width: 100%;
    }

    #band-members {
        width: 100%;
        .band-table {
            display: block;
            width: 100%;
            margin: auto;
            .band-row {
                display: inline-block;
                margin: auto;
                text-align: center;
                .band-img {
                    height: 100px;
                }
            }
        }
    }

    .footer-container {
        position: relative;
        .footer {
            width: 100%;
            margin: 0;
            .links {
                display: block;
                a {
                    display: block;
                    border-bottom: solid #ccc 1px;
                }
                
            }
        }
    }
}
