.ogham {
  font-size: 30px;
}

.hidden {
  display: none;
}

#ogham-switch-container {
  font-family: "mion", "Helvetica", "Arial", sans-serif;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

#toggle-button-holder {
  width: 75px;
  height: 25px;
  border: solid 1px var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 12.5px;
  margin-right: 4px;
  margin-left: 4px;
  display: flex;
  transition: justify-content 500ms ease-in;
  @media (prefers-color-scheme: dark) {
    border-color: var(--primary-color-dark-mode);
    background-color: var(--secondary-color-dark-mode);
  }
  @media (max-width: 600px){
    margin-top: 5px;
  }
}

.ogham-selected {
  justify-content: start;  
}

.seanchlo-selected {
  justify-content: end;  
}

.slider {
  background-color: var(--bg-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  @media (prefers-color-scheme: dark) {
    background-color: var(--bg-color-dark-mode);
  }
}

#clock {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 30px;
  height: 50px;
  @media (max-width: 600px){
    border-bottom: solid 1px var(--primary-color);
    @media (prefers-color-scheme: dark) {
      border-color: var(--primary-color-dark-mode);
    }
  }
 }

#countdown-container {
  font-family: "mion", "Helvetica", "Arial", sans-serif;
  width: 75%;
  @media (max-width: 600px){
    width: 100%;
  }
  margin: auto;
}

#countdown-container > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  gap: 20px;
  font-size: 30px;
  @media (max-width: 600px){
    border-bottom: dashed 1px var(--primary-color);
    justify-content: space-between; 
    @media (prefers-color-scheme: dark) {
      border-color: var(--primary-color-dark-mode);
    }
  }
}
